:root{
    --dark_cyan: hsl(185, 75%, 39%);
    --very_dark_blue: hsl(229, 23%, 23%);
    --dark_grayish_blue: hsl(227, 10%, 46%);
    --dark_gray: hsl(0, 0%, 59%);
}
html, *{
    box-sizing: border-box;
    font-size: 62.5%;   
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    position: relative;
    background-color: var(--dark_cyan);
    width: 100vw;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;  
}
body::before, body::after {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%); 
}
body::before {
    top: 0;
    left: 0;
    background: url("../images/bg-pattern-top.svg") no-repeat bottom right; 
}
  body::after {
    top: 100%;
    left: 100%;
    background: url("../images/bg-pattern-bottom.svg") no-repeat top left; 
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    position: relative;
}
.card{
    width: 350px;
    max-width: 350px;
    background-color: #fff; 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}
.card_header{
    width: 100%;
    display: block;
}

.card_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.card_user_image{
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -55px;
    background: #fff;
}

.card_user_name, h3{
    font-size: 18px;
    font-weight: 700;
    margin-top: 2rem;
}
span{
    color: var(--dark_gray);
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
}
.card_user_city, p{
    font-size: 15px;
    font-weight: 400;
    color: var(--dark_gray);
    margin-bottom: 2rem;
    margin-top: 0;
}
.card_footer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
p{
    letter-spacing: 1px;
}
